<nav class="navbar navbar-expand-lg bg-light flex-column justify-content-between align-items-start flex-nowrap vh-100">
    <ul class="navbar-nav flex-column">
        <a class="navbar-brand d-block m-6" href="#">
            <img src="/assets/images/logo-ANSWER.svg" alt="answer logo">
        </a>
        <li class="nav-item position-relative">
            <a href="#Dashboard"
                class="nav-link fw-bold d-flex align-items-center p-0 stretched-link text-decoration-none link-dark lh-lg">
                <i class="material-icons md-18">assessment</i>Dashboard
            </a>
        </li>
        <li class="nav-item position-relative">
            <a href="#Question"
                class="nav-link fw-bold d-flex align-items-center p-0 stretched-link text-decoration-none link-dark lh-lg">
                <i class="material-icons md-18">question_answer</i>Question
            </a>
        </li>
        <li class="nav-item position-relative">
            <a href="assignment.html"
                class="nav-link fw-bold d-flex align-items-center p-0 stretched-link text-decoration-none link-dark lh-lg">
                <i class="material-icons md-18">assignment</i>Assignment
            </a>
        </li>
        <li class="nav-item position-relative">
            <a href="#Course"
                class="nav-link fw-bold d-flex align-items-center p-0 stretched-link text-decoration-none link-dark lh-lg">
                <i class="material-icons md-18">video_library</i>Course
            </a>
        </li>
        <li class="nav-item position-relative">
            <a href="admin.html"
                class="nav-link fw-bold d-flex align-items-center p-0 stretched-link text-decoration-none link-dark lh-lg">
                <i class="material-icons md-18">supervisor_account</i>Admin
            </a>
        </li>
        <li class="nav-item position-relative">
            <a href="#Settings"
                class="nav-link fw-bold d-flex align-items-center p-0 stretched-link text-decoration-none link-dark lh-lg">
                <i class="material-icons md-18">settings</i>Settings
            </a>
        </li>
    </ul>
    <div class="m-6 d-flex align-items-center">
        <img src="../assets/images/andychen-cut.jpeg" alt="profile-photo" class="profile-photo me-3">
        <div>
            <p class="mb-0 fw-bold lh-sm">Andy Chen</p>
            <p class="gray-600 mb-0 fs-8 lh-sm">andy0401@mail.com</p>
        </div>
    </div>
</nav>